/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');


/* reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
}


:root {

    /* fonts-family: */
    
    --font-1: 'Space Mono', monospace;
    --font-2: 'Inconsolata', monospace;
    /* fonts-size */

    --text-size-1: 2.4rem;
    --text-size-2: 6.4rem;
    --text-size-3: 1.4rem;
    /* mobile */
    --text-size-4: 4.8rem;
    --text-size-5: 1.8rem;

    /* color */

    --color-primary: #333333;

    
}

.section-container {
    max-width: 1440px;
    max-height: 1080px;
}

.section-container > p {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: var(--font-2);
    font-size: var(--text-size-1);
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: var(--color-primary);
}

.container {
    display: flex;

}

.container-img {
    width: 50vw;
    height: 100%;
}

.container-img > img {
    width: 530px;
    height: 415px;
    position: absolute;
    left: 5.3%;
    right: 57.21%;
    top: 24.54%;
    bottom: 37.11%;

}

.container-title {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title h1 {
    width: 586px;
    height: 190px;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 700;
    font-size: var(--text-size-2);
    line-height: 95px;
    letter-spacing: -0.03em;
    color: var(--color-primary);
}

.container-title p {
    width: 381px;
    height: 108px;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-size-1);
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    margin: 36px 0 36px 0;
}

.buttom {
    width: 216px;
    height: 68px;
    background: var(--color-primary);
    text-align: center;
    padding-top: 24px;
    position: relative;
    top: 25px;
}

.buttom a {
    color: #FFFFFF;
    font-family: var(--font-1);
    font-weight: 700;
    font-size: var(--text-size-3);
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 375px) {

    .container-img > img {
        position: absolute;
        left: 12%;
        right: 12%;
        top: 12%;
        bottom: 65.29%;
        width: 287px;
        height: 220px;
    }

    .container-title h1 {
        position: absolute;
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;
        font-size: 48px;
        line-height: 71px;
    }
    
}

